@media screen and (max-width: 425px) {
  .service-page__container.service-page__container_popup {
    margin: 600px auto 0px;
  }
}

@media screen and (max-width: 375px) {
  .service-page__container.service-page__container_popup {
    margin: 960px auto 0px;
  }
}

@media screen and (max-width: 320px) {
  .service-page__container.service-page__container_popup {
    margin: 1570px auto 0px;
  }
}

