@import url(__text-block/section__text-block.css);
@import url(__map/section__map.css);
@import url(_hidden/section_hidden.css);

.section {
  width: 100%;
  margin-bottom: 20px;
  padding: 40px 0px 15px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 428px) {
  .section {
    flex-direction: column;
  }
}
